<div *ngIf="isLoading" class="loading">
    <div class="cssload-main">
      <div class="cssload-heart">
        <span class="cssload-heartL"></span>
        <span class="cssload-heartR"></span>
        <span class="cssload-square"></span>
      </div>
      <div class="cssload-shadow"></div>
    </div>
  </div>

  <p-toast />

  <div class="backBtn" (click)="routeBack()">

      <i class="pi pi-arrow-left"></i>
  </div>

  <div class="emptyPage">
  <h2 *ngIf="loggedInUser?.playlist?.length == 0">You have no videos here buddy</h2>
</div>
<div class="cardss">
    <p-card [style]="{ width: '320px' }" *ngFor="let fav of loggedInUser?.playlist">
        <ng-template pTemplate="header">
            <div class="thumbnail-container">
                <a [href]="fav.videoUrl">
                    <img *ngIf="!fav.isThumbnailPlaying" alt="Card" [src]="fav.imgUrl"
                    (mouseover)="playAnimation(fav.videoId)" />
                    
                    <img *ngIf="fav.isThumbnailPlaying" [src]="selectedThumbs[currentThumbIndex]"
                        (mouseleave)="stopSlideshow(fav.videoId)" />
                    <p class="gender-label">{{ fav.length }}</p>
                </a>
            </div>
            <div class="details">
                <a [href]="fav.videoUrl" class="ogTitle">{{ fav.title }}</a>
                <p-menu #menu [model]="videoItem" [popup]="true" />
                <i (click)="menu.toggle($event)" (click)="selectedFav(fav.videoId)" class="pi pi-ellipsis-v"></i>
                
            </div>
            <h4>{{ fav.views | numberFormat }} Views</h4>
        </ng-template>
    </p-card>
</div>
<p-dialog 
    id="dialog" 
    header="Header" 
    [(visible)]="userDialog" 
    [style]="{ width: '50vw' }" >
        <p>You need to login first</p>
</p-dialog>
<router-outlet></router-outlet>