// img {
//     width: 400px;
//     height: 400px;
// }

// .col1 {
//     display: flex;
//     justify-content: center;
// }

// .col2 {
//     display: grid;
//     justify-items: center;
// }



::ng-deep .p-card .p-card-body {
    height: 50px;
}

::ng-deep .p-card.p-component {
    height: 300px;
    border-radius: 18px !important;
}

::ng-deep .p-card-body {
    padding-top: 0px;

}

// ::ng-deep .p-card-header img {
//     height: 180px;
//     width: 320px !important;
//     // border-radius: 20px 20px 0px 0px !important;

// }

::ng-deep .p-card .p-card-body {
    height: 1px;
}

::ng-deep .p-menubar {
    margin: 30px !important;
}



.cardss {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding-top: 160px !important;
}

p-card {
    // flex: 1 1 calc(20% - 20px);
    /* 20% width for 5 items per row, minus the gap */
    box-sizing: border-box;
    /* Include padding and border in the width and height calculation */
    margin-bottom: 20px;
    /* Optional: Adds space below each row */

    border-radius: 20px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 0px;
    margin-left: 15px;
}

.btnSort {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
}

.details {
    margin-right: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
}

.navBar {
    border-radius: 18px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    box-shadow: 0.1px rgb(77, 77, 77);
}

.thumbnail-container {
    position: relative;
}

.thumbnail-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

// .thumbnail-animation img {
//     width: 100%;
//     height: 100%;
// }

.col1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 120px;
}

::ng-deep .p-element.ng-tns-c421417325-9.ng-star-inserted {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.col2 {
    margin-top: 20px;
}

img {
    border-radius: 18px 18px 0px 0px;
    cursor: pointer;
}

.textBox {
    display: flex;
    justify-content: space-between;
}

::ng-deep i.pi.pi-ellipsis-v {
    padding-top: 15px !important;
    cursor: pointer;
}


.backBtn {
    margin-top: 137px;
    width: 40px;
    background-color: white;
    border-radius: 50px;
    color: black;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}

h2 {
    margin-top: 320px;
}

.emptyPage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgBox {
    position: relative;
    display: inline-block;
}

.imgBox img {
    display: block;
    width: 100%;
}

.gender-label {
    position: absolute;
    bottom: 1px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.ogTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Set the maximum number of lines to show */
    -webkit-box-orient: vertical;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding-top: 7px;
    max-height: 3.6em;

}

::ng-deep div#pn_id_7 {
    top: 100% !important;
}

// .ogTitle:after {
//     content: "...";
//     display: inline-block;
//     margin-left: 5px;
// }

.ogViews {
    color: gray
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

::ng-deep div#pn_id_22 {
    top: 100% !important;
}

.cssload-main {
    position: absolute;
    content: '';
    left: 50%;
    transform: translate(-100%, -240%);
    -o-transform: translate(-100%, -240%);
    -ms-transform: translate(-100%, -240%);
    -webkit-transform: translate(-100%, -240%);
    -moz-transform: translate(-100%, -240%);
}

.cssload-main * {
    font-size: 62px;
}

.cssload-heart {
    animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -o-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -ms-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -webkit-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -moz-animation: cssload-heart 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    top: 50%;
    content: '';
    left: 50%;
    position: absolute;
}

.cssload-heartL {
    width: 1em;
    height: 1em;
    border: 1px solid rgb(185, 16, 219);
    background-color: rgb(147, 12, 174);
    content: '';
    position: absolute;
    display: block;
    border-radius: 100%;
    animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -o-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -ms-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -webkit-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -moz-animation: cssload-heartL 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    transform: translate(-28px, -27px);
    -o-transform: translate(-28px, -27px);
    -ms-transform: translate(-28px, -27px);
    -webkit-transform: translate(-28px, -27px);
    -moz-transform: translate(-28px, -27px);
}

.cssload-heartR {
    width: 1em;
    height: 1em;
    border: 1px solid rgb(147, 12, 174);
    background-color: rgb(147, 12, 174);
    content: '';
    position: absolute;
    display: block;
    border-radius: 100%;
    transform: translate(28px, -27px);
    -o-transform: translate(28px, -27px);
    -ms-transform: translate(28px, -27px);
    -webkit-transform: translate(28px, -27px);
    -moz-transform: translate(28px, -27px);
    animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -o-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -ms-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -webkit-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -moz-animation: cssload-heartR 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
}

.cssload-square {
    width: 1em;
    height: 1em;
    border: 1px solid rgb(147, 12, 174);
    background-color: rgb(147, 12, 174);
    position: relative;
    display: block;
    content: '';
    transform: scale(1) rotate(-45deg);
    -o-transform: scale(1) rotate(-45deg);
    -ms-transform: scale(1) rotate(-45deg);
    -webkit-transform: scale(1) rotate(-45deg);
    -moz-transform: scale(1) rotate(-45deg);
    animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -o-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -ms-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -webkit-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -moz-animation: cssload-square 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
}

.cssload-shadow {
    top: 97px;
    left: 50%;
    content: '';
    position: relative;
    display: block;
    bottom: -.5em;
    width: 1em;
    height: .24em;
    background-color: rgb(215, 215, 215);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 50%;
    animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -o-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -ms-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -webkit-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
    -moz-animation: cssload-shadow 2.88s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
}

@keyframes cssload-square {
    50% {
        border-radius: 100%;
        transform: scale(0.5) rotate(-45deg);
    }

    100% {
        transform: scale(1) rotate(-45deg);
    }
}

@-o-keyframes cssload-square {
    50% {
        border-radius: 100%;
        -o-transform: scale(0.5) rotate(-45deg);
    }

    100% {
        -o-transform: scale(1) rotate(-45deg);
    }
}

@-ms-keyframes cssload-square {
    50% {
        border-radius: 100%;
        -ms-transform: scale(0.5) rotate(-45deg);
    }

    100% {
        -ms-transform: scale(1) rotate(-45deg);
    }
}

@-webkit-keyframes cssload-square {
    50% {
        border-radius: 100%;
        -webkit-transform: scale(0.5) rotate(-45deg);
    }

    100% {
        -webkit-transform: scale(1) rotate(-45deg);
    }
}

@-moz-keyframes cssload-square {
    50% {
        border-radius: 100%;
        -moz-transform: scale(0.5) rotate(-45deg);
    }

    100% {
        -moz-transform: scale(1) rotate(-45deg);
    }
}

@keyframes cssload-heart {
    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@-o-keyframes cssload-heart {
    50% {
        -o-transform: rotate(360deg);
    }

    100% {
        -o-transform: rotate(720deg);
    }
}

@-ms-keyframes cssload-heart {
    50% {
        -ms-transform: rotate(360deg);
    }

    100% {
        -ms-transform: rotate(720deg);
    }
}

@-webkit-keyframes cssload-heart {
    50% {
        -webkit-transform: rotate(360deg);
    }

    100% {
        -webkit-transform: rotate(720deg);
    }
}

@-moz-keyframes cssload-heart {
    50% {
        -moz-transform: rotate(360deg);
    }

    100% {
        -moz-transform: rotate(720deg);
    }
}

@keyframes cssload-heartL {
    60% {
        transform: scale(0.4);
    }
}

@-o-keyframes cssload-heartL {
    60% {
        -o-transform: scale(0.4);
    }
}

@-ms-keyframes cssload-heartL {
    60% {
        -ms-transform: scale(0.4);
    }
}

@-webkit-keyframes cssload-heartL {
    60% {
        -webkit-transform: scale(0.4);
    }
}

@-moz-keyframes cssload-heartL {
    60% {
        -moz-transform: scale(0.4);
    }
}

@keyframes cssload-heartR {
    40% {
        transform: scale(0.4);
    }
}

@-o-keyframes cssload-heartR {
    40% {
        -o-transform: scale(0.4);
    }
}

@-ms-keyframes cssload-heartR {
    40% {
        -ms-transform: scale(0.4);
    }
}

@-webkit-keyframes cssload-heartR {
    40% {
        -webkit-transform: scale(0.4);
    }
}

@-moz-keyframes cssload-heartR {
    40% {
        -moz-transform: scale(0.4);
    }
}

@keyframes cssload-shadow {
    50% {
        transform: scale(0.5);
        border-color: rgb(228, 228, 228);
    }
}

@-o-keyframes cssload-shadow {
    50% {
        -o-transform: scale(0.5);
        border-color: rgb(228, 228, 228);
    }
}

@-ms-keyframes cssload-shadow {
    50% {
        -ms-transform: scale(0.5);
        border-color: rgb(228, 228, 228);
    }
}

@-webkit-keyframes cssload-shadow {
    50% {
        -webkit-transform: scale(0.5);
        border-color: rgb(228, 228, 228);
    }
}

@-moz-keyframes cssload-shadow {
    50% {
        -moz-transform: scale(0.5);
        border-color: rgb(228, 228, 228);
    }
}