<!-- <button (click)="logout()">Logout</button> -->


<!-- <div>
    <h2>Welcome, {{ loggedInUser.name }}</h2>
    <form [formGroup]="playlistItemForm" (ngSubmit)="addPlaylistItem()">
        <label for="item">Add to Playlist:</label>
        <input id="item" formControlName="item" />
        <button type="submit">Add</button>
    </form>

    <h3>Your Playlist:</h3>
    <ul>
        <li *ngFor="let item of loggedInUser?.playlist">{{ item.videoUrl }}</li>
    </ul>
</div> -->


<div *ngIf="isLoading" class="loading">
    <div class="cssload-main">
        <div class="cssload-heart">
            <span class="cssload-heartL"></span>
            <span class="cssload-heartR"></span>
            <span class="cssload-square"></span>
        </div>
        <div class="cssload-shadow"></div>
    </div>
</div>
<p-toast />

<div class="cardss">
    <p-card [style]="{ width: '320px' }" *ngFor="let fav of loggedInUser?.playlist">
        <ng-template pTemplate="header">
            <div class="thumbnail-container">
                <a [href]="fav.videoUrl">
                    <img *ngIf="!fav.isThumbnailPlaying" alt="Card" [src]="fav.imgUrl"
                        (mouseover)="playAnimation(fav.videoId)" />

                    <img *ngIf="fav.isThumbnailPlaying" [src]="selectedThumbs[currentThumbIndex]"
                        (mouseleave)="stopSlideshow(fav.videoId)" />
                    <p class="gender-label">{{ fav.length }}</p>
                </a>
            </div>
            <div class="details">
                <a [href]="fav.videoUrl" class="ogTitle">{{ fav.title }}</a>
                <p-menu #menu [model]="videoItem" [popup]="true" />
                <i (click)="menu.toggle($event)" (click)="selectedFav(fav.videoId)" class="pi pi-ellipsis-v"></i>

            </div>
            <h4>{{ fav.views | numberFormat }} Views</h4>
        </ng-template>
    </p-card>
</div>
<router-outlet></router-outlet>